/* ヘッダー */
div#nav-global-location-slot {
    display: none !important;
}

.nav-line-1-container {
    display: none !important;
}

/* ドロワー */
a#hmenu-customer-profile-link {
    display: none !important;
}

/* 注文履歴 */
.a-column.a-span7.a-span-last {
    display: none !important;
}

/* 配送状況の確認 */
div#shippingAddress-container {
    color: #ffffff !important;
}

div.pt-delivery-card-trackingId {
    color: #ffffff !important;
}

/* 配送状況の確認  更に表示 */

span.tracking-event-location {
    color: #ffffff !important;
}

h4.a-spacing-medium {
    color: #ffffff !important;
}

/* 注文の詳細 */
.a-row.a-spacing-micro {
    display: #ffffff !important;
}

/* 商品ページ */
div#cipInsideDeliveryBlock_feature_div {
    display: none !important;
}

/* 商品ページ ALEXA */

div.sh-certified-personalized-badge-description-text {
    display: none !important;
}

/* 購入ページ */
.displayAddressDiv .displayAddressUL li {
    display: none;
}

div#widget-shipmentText-orderGroupID0 {
    color: #ffffff !important;
}

div[data-testid] {
    color: #ffffff !important;
}

/* ログイン */
.a-row.a-size-base-plus.auth-text-truncate {
    color: #ffffff !important;
}

.a-row.a-size-base.a-color-tertiary.auth-text-truncate {
    color: #ffffff !important;
}

/* アカウント切り替え */
.a-row.a-size-base-plus {
    color: #ffffff !important;
}

.a-row.a-size-base {
    color: #ffffff !important;
}

/* プライムビデオ ホーム */
.nav-profiles {
    display: none;
}